.container {
    position: absolute;
    margin: auto;
    width: 50%;
    /* background-color: var(--hope-colors-success10); */
    text-align: center;
    /* margin: 0; */
    top: 40%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}